nytwords.o
abc.js
zz*
*#
game.txt
freq.o
wos
setup
*~
add_words.sh
all.txt
ans.txt
aspell.cpp
bads.txt
every-word.txt
itwac_nouns_lemmas_notail_2_0_0.csv
pang.c
popular.txt
push.sh
reset-cache.sh
sbs_ita_words.txt
sbs_words.txt
words.txt
words/
wos_ita_words.txt
